
*{margin:0px; 
    padding: 0px; 
    font-family:'Times New Roman', Times, serif;}


::-webkit-scrollbar{
    display: none;
}

img{
    width: 100%;        
 }
    
    
 a{
    display: block;
    background-color: rgba(21, 21, 231, 0.822);
    padding: 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color:white;    
    letter-spacing:.5em;
}
a:hover{
    background-color: rgba(18, 99, 146, 0.445);
    color: white;
    box-shadow: 5px 5px 5px black;
} 
